@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8f4;
  --foreground: #4b4444;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease forwards;
}
